  - name: app setup
    ansible.builtin.import_role:
      name: common
      tasks_from: app-setup.yaml

  - name: app setup
    ansible.builtin.import_role:
      name: common
      tasks_from: nodejs.yaml

  - name: copy mongo repo
    ansible.builtin.copy:
      src: mongo.repo
      dest: /etc/yum.repos.d/mongo.repo

  - name: install mongodb client
    ansible.builtin.package:
      name: mongodb-mongosh
      state: present

  - name: connect to mongodb catalogue
    ansible.builtin.command: mongosh {{ MONGODB }} --quiet --eval "db.getMongo().getDBNames().indexOf('catalogue')"
    register: catalogue_output

  # - name: print catalogue output
  #   ansible.builtin.debug:
  #     msg: "{{catalogue_output}}"


  - name: load products into mongodb
    ansible.builtin.shell: mongosh --host {{ MONGODB }} </app/db/master-data.js
    when: catalogue_output.stdout | int < 0

  # - name: start and enable cataalogue
  #   ansible.builtin.service:
  #     name: catalogue
  #     enabled: yes
  #     state: started

  